body {
    background-color: #45B69C;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    width: 500px;
    border: 10px solid black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xxx-large;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

p {
    font-size: x-large;
}

button {
    border: 2px solid black;
    border-radius: 40px;
    box-sizing: border-box;
    color: black;
    padding: 15px;
    font-size: xx-large;
    cursor: pointer;
    background-color: #D8DDEF;
}