$relative-height: relative;

body {
    background-color: #45B69C;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#lunchbox {
    height: $relative-height;
    width: 500px;
    border: 5px solid black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #a0a4b8;
}

#inputbox {
    height: $relative-height;
    width: 500px;
    border: 5px solid black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a0a4b8;
}

#addOrUpdate {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}

h1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}

p {
    font-size: x-large;
}

button {
    border: 2px solid black;
    border-radius: 40px;
    box-sizing: border-box;
    color: black;
    padding: 15px;
    font-size: xx-large;
    cursor: pointer;
    background-color: #D8DDEF;
    position: relative;
}

#updateName {
    height: 30px;
    font-size: large;
}

#newName {
    font-size: x-large;
    padding: 5px;
}

#updateAddress {
    height: 30px;
    font-size: large;
}

#newAddress {
    font-size: x-large;
    padding: 5px;
}

#updateHours {
    height: 30px;
    font-size: large;
}

#newHours {
    font-size: x-large;
    padding: 5px;
}